.campus-wrapper {
  margin-bottom: 50px;
}
.campus {
  width: 100%;
  margin: auto;
  text-align: center;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 40px;
  gap: 25px;
}

.gallery img {
  border-radius: 14px;
  width: 100%;
  box-shadow: 1px 3px 7px #000;
}
