.program-wrapper {
  margin: 50px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10%;
}

.program-wrapper .program img {
  width: 100%;
  border-radius: 10px;
  display: block;
}
.program {
  flex-basis: 31%;
  position: relative;
}

.caption {
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 15, 152, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  padding-top: 70%;
}

.program:hover .caption {
  opacity: 1;
  padding-top: 0;
}

.caption-content {
  text-align: center;
}
.caption svg {
  font-size: 45px;
  color: #fff;
}
.caption p {
  color: #fff;
  font-size: 25px;
}
